{
    "useTabs": false,
    "tabWidth": 2,
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "printWidth": 80
  }
  